<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/courses/styles.css">
</head>
<body>
    <div>

            <h1> {{ subject.name }}</h1>
            <h2> Bu fan bo'yicha o'qituvchilar </h2>


        {% for teacher in teachers %}
            <p>
                {{ teacher.first_name }} {{ teacher.last_name }} {{ teacher.degree }}
            </p>
        {% endfor %}
            <h2> Bu fan bo'yicha mutaxassisliklar </h2>
        {% for speciality in specialities %}
            <p> {{ speciality.name }} {{ speciality.code }} {{ speciality.start_date }} {{ speciality.is_active }}</p>
        {% endfor %}



    </div>
</body>
</html>
